/* .App {
   text-align: center; 
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Custom Css for the project */
.container{
  width :70%;
  padding: 20px  0;
  /* background-color:cadetblue; */
  margin-left:15% ;
}

.padd{
  padding: 0 15px;
  /* text-align: center; */

}

.search-field{
  width: 80%;

  font-size: 2rem;
  border: 1px solid grey;
  border-radius: 10px;
  text-indent: 20px;
  outline: hotpink;

}

.movie{
  padding: 5px;
  /* background-color: hotpink; */
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
}

.poster{
  height: 600px;
  width: 30%;
  background-color: cyan;
  overflow: hidden;

}
.poster-img{
  width: 100%;
  height: 100%;

}

.details{
 
  width: 65%;
  /* background-color: lawngreen; */
}

h1,h2,h3{
  margin: 0;
}
.title-heading
{
  text-align: center;
}

.ratings{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
}

.search-bar{
  display: flex;
  margin: 10px 5px 20px 5px;

}

.sbtn{
  margin-left: 10px;
  width: 17%;
  background-color: gold;
  color: black;
  font-size: 25px;
  border:none;
  border-radius: 10px;
  cursor: pointer;
 
  
}

.sbtn:hover{
  background-color: darkgoldenrod;
}

.footinfo{
  text-align: center;
  margin: 10px 5px;
  padding: 5px 10px;
  margin-top: 50px;
  background-color: burlywood;
}